# H1 Data Science Tools and Ecosystem

## H2 In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are: 
1. Python
2. SQL 
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. keras



| Data Science Tools |
|--------------------|
|Apache Spark|
|Rstudio|
|TensorFlow|

## H3 Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3 * 4) + 5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
M = 200/60
print(M)

3.3333333333333335

# ** Objectives:**
- Pandas
- Scikit-learn
- keras

# H2 Author #
Vansh Gupta